.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.title {
  text-align: center;
}

.todo-container {
  border: 1px solid black;
  box-shadow: 5px 5px 0px 0px #757575, 10px 10px #999999b9, 15px 15px #bcbcbc;
}

.todo-item {
  display: flex;
  align-items: center;
  border: 1px solid black;
}
